{"openapi":"3.0.0","info":{"title":"OMOPHub Healthcare Vocabulary API","version":"1.0.0","description":"A comprehensive healthcare vocabulary API platform providing secure, compliant access to medical terminologies and OHDSI vocabulary services. This API provides access to standardized medical vocabularies including SNOMED CT, ICD-10-CM, LOINC, RxNorm, and more.","contact":{"name":"OMOPHub API Support","email":"support@omophub.com","url":"https://docs.omophub.com"},"license":{"name":"Commercial License","url":"https://omophub.com/license"},"termsOfService":"https://omophub.com/terms"},"servers":[{"url":"https://api.omophub.com/v1","description":"Production server"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"API_KEY"}},"schemas":{"Concept":{"type":"object","properties":{"concept_id":{"type":"integer","example":201826,"description":"Unique concept identifier"},"concept_name":{"type":"string","example":"Type 2 diabetes mellitus","description":"Primary concept name"},"concept_code":{"type":"string","example":"44054006","description":"Concept code within the vocabulary"},"vocabulary_id":{"type":"string","example":"SNOMED","description":"Vocabulary identifier"},"vocabulary_name":{"type":"string","example":"Systematized Nomenclature of Medicine Clinical Terms","description":"Full vocabulary name"},"domain_id":{"type":"string","example":"Condition","description":"Domain identifier"},"concept_class_id":{"type":"string","example":"Clinical Finding","description":"Concept class identifier"},"standard_concept":{"type":"string","nullable":true,"example":"S","enum":["S","C","N"],"description":"Standard concept status (S=Standard, C=Classification, N=Non-standard, null=Unspecified/Unknown)"},"valid_start_date":{"type":"string","format":"date","example":"1970-01-01","description":"Date when concept became valid"},"valid_end_date":{"type":"string","format":"date","example":"2099-12-31","description":"Date when concept becomes invalid"},"invalid_reason":{"type":"string","nullable":true,"description":"Reason for invalidity (if applicable)"},"relevance_score":{"type":"number","format":"float","minimum":0,"maximum":1,"example":0.98,"description":"Search relevance score"}},"required":["concept_id","concept_name","concept_code","vocabulary_id","domain_id"]},"Vocabulary":{"type":"object","properties":{"vocabulary_id":{"type":"string","example":"SNOMED"},"vocabulary_name":{"type":"string","example":"Systematized Nomenclature of Medicine Clinical Terms"},"vocabulary_reference":{"type":"string","example":"https://www.snomed.org/"},"vocabulary_version":{"type":"string","example":"2024-03"},"vocabulary_concept_id":{"type":"integer","example":44819096},"total_concepts":{"type":"integer","example":354652},"standard_concepts":{"type":"integer","example":298456},"classification_concepts":{"type":"integer","example":56196},"release_date":{"type":"string","format":"date","example":"2024-03-01"},"description":{"type":"string","example":"International healthcare terminology"}},"required":["vocabulary_id","vocabulary_name"]},"Domain":{"type":"object","properties":{"domain_id":{"type":"string","example":"Condition"},"domain_name":{"type":"string","example":"Condition"},"domain_concept_id":{"type":"integer","example":19},"description":{"type":"string","example":"A condition is a clinical or pathological state"},"concept_count":{"type":"integer","example":125643}},"required":["domain_id","domain_name","domain_concept_id"]},"ConceptClass":{"type":"object","properties":{"concept_class_id":{"type":"string","example":"Clinical Finding"},"concept_class_name":{"type":"string","example":"Clinical Finding"},"concept_class_concept_id":{"type":"integer","example":4167179},"concept_count":{"type":"integer","example":98765}},"required":["concept_class_id","concept_class_name","concept_class_concept_id"]},"Relationship":{"type":"object","properties":{"relationship_id":{"type":"string","example":"Is a"},"relationship_name":{"type":"string","example":"Is a"},"is_hierarchical":{"type":"boolean","example":true},"defines_ancestry":{"type":"boolean","example":true},"reverse_relationship_id":{"type":"string","example":"Subsumes"},"relationship_concept_id":{"type":"integer","example":4180186}},"required":["relationship_id","relationship_name","is_hierarchical"]},"PaginationMeta":{"type":"object","properties":{"page":{"type":"integer","example":1,"description":"Current page number"},"page_size":{"type":"integer","example":20,"description":"Items per page"},"total_items":{"type":"integer","example":157,"description":"Total number of items"},"total_pages":{"type":"integer","example":8,"description":"Total number of pages"},"has_next":{"type":"boolean","example":true,"description":"Whether there are more pages"},"has_previous":{"type":"boolean","example":false,"description":"Whether there are previous pages"}},"required":["page","page_size","total_items","total_pages","has_next","has_previous"]},"ApiResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"$ref":"#/components/schemas/Concept"}},"meta":{"type":"object","properties":{"request_id":{"type":"string","example":"req_abc123def456"},"timestamp":{"type":"string","format":"date-time","example":"2024-01-15T10:30:00Z"},"vocab_release":{"type":"string","example":"2024-03"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["request_id","timestamp"]}},"required":["success","data","meta"]},"ErrorResponse":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"code":{"type":"string","example":"vocabulary_not_found"},"message":{"type":"string","example":"Vocabulary not found"},"details":{"oneOf":[{"type":"object","additionalProperties":true},{"type":"array","items":{"type":"object"}}]}},"required":["code","message"]},"meta":{"type":"object","properties":{"request_id":{"type":"string","example":"req_error123"},"timestamp":{"type":"string","format":"date-time","example":"2024-01-15T10:30:00Z"}},"required":["request_id","timestamp"]}},"required":["success","error"]},"MappingQuality":{"type":"object","properties":{"source_vocabulary":{"type":"string","example":"ICD10CM","description":"Source vocabulary identifier"},"target_vocabulary":{"type":"string","example":"SNOMED","description":"Target vocabulary identifier"},"total_concepts":{"type":"integer","example":72458,"description":"Valid concepts in the source vocabulary; denominator of coverage_percentage"},"mapped_concepts":{"type":"integer","example":52891,"description":"Distinct source concepts with a valid relationship to the target vocabulary; numerator of coverage_percentage and sum of mapping_types counts"},"coverage_percentage":{"type":"number","format":"float","example":73,"description":"100 × mapped_concepts / total_concepts, or 0 when total_concepts is 0"},"mapping_types":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["direct","equivalent","hierarchical","other"],"example":"direct","description":"Best available mapping type for this group of source concepts"},"count":{"type":"integer","example":45000,"description":"Distinct mapped source concepts assigned to this type"},"percentage":{"type":"number","format":"float","example":85.1}},"required":["type","count","percentage"]},"description":"Mutually exclusive breakdown of mapped source concepts; counts sum to mapped_concepts"},"quality_score":{"type":"integer","minimum":0,"maximum":100,"example":78,"description":"Rounded heuristic: coverage contributes 50%, direct mapping share 30%, and mapping-type diversity 20%"},"issues":{"type":"array","items":{"type":"object","properties":{"issue_type":{"type":"string","example":"unmapped_concepts"},"count":{"type":"integer","example":19567},"severity":{"type":"string","enum":["low","medium","high"],"example":"medium"},"examples":{"type":"array","items":{"type":"object"}}}},"description":"Identified quality issues"}},"required":["source_vocabulary","target_vocabulary","total_concepts","mapped_concepts","coverage_percentage","mapping_types","quality_score","issues"]},"MappingCoverage":{"type":"object","properties":{"source_vocabulary":{"type":"string","example":"SNOMED","description":"Source vocabulary identifier"},"target_vocabulary":{"type":"string","example":"ICD10CM","description":"Target vocabulary identifier"},"overall_coverage":{"type":"number","format":"float","example":65.5,"description":"Overall mapping coverage percentage"},"domain_coverage":{"type":"array","items":{"type":"object","properties":{"domain_id":{"type":"string","example":"Condition"},"domain_name":{"type":"string","example":"Condition"},"source_concepts":{"type":"integer","example":234567},"mapped_concepts":{"type":"integer","example":178234},"coverage_percentage":{"type":"number","format":"float","example":75.9}}},"description":"Coverage breakdown by domain"},"unmapped_concepts":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer","example":4087682},"concept_name":{"type":"string","example":"Finding related to ability to move"},"domain_id":{"type":"string","example":"Condition"},"reason":{"type":"string","example":"No direct mapping"}}},"description":"Sample of unmapped concepts (up to 100)"}},"required":["source_vocabulary","target_vocabulary","overall_coverage","domain_coverage"]},"MappingValidationRequest":{"type":"object","properties":{"mappings":{"type":"array","minItems":1,"maxItems":100,"items":{"type":"object","properties":{"source_concept_id":{"type":"integer","example":201826,"description":"Source concept ID"},"target_concept_id":{"type":"integer","example":443735,"description":"Target concept ID"},"mapping_type":{"type":"string","example":"Maps to","description":"Type of mapping relationship"}},"required":["source_concept_id","target_concept_id","mapping_type"]}}},"required":["mappings"]},"MappingValidationResult":{"type":"object","properties":{"source_concept_id":{"type":"integer","example":201826},"target_concept_id":{"type":"integer","example":443735},"mapping_type":{"type":"string","example":"Maps to"},"is_valid":{"type":"boolean","example":true,"description":"Whether the mapping is valid"},"validation_score":{"type":"number","format":"float","minimum":0,"maximum":1,"example":0.85,"description":"Validation confidence score (0-1)"},"issues":{"type":"array","items":{"type":"string"},"example":["Domain mismatch for direct mapping"],"description":"List of validation issues"},"recommendations":{"type":"array","items":{"type":"string"},"example":["Consider using equivalent or hierarchical mapping"],"description":"Recommendations for improving the mapping"}},"required":["source_concept_id","target_concept_id","mapping_type","is_valid","validation_score","issues","recommendations"]}},"responses":{"BadRequest":{"description":"Bad request or validation failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"Unauthorized":{"description":"Authentication is required or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"Forbidden":{"description":"The authenticated caller is not permitted to perform this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"NotFound":{"description":"The requested resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"RateLimited":{"description":"The request exceeded an applicable rate limit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"ServerError":{"description":"The server could not complete the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"paths":{"/":{"get":{"summary":"Get API information","operationId":"getRoot","tags":["System"],"security":[],"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/app.ts","x-documentation-disposition":{"status":"system","reason":"API discovery resource, not a vocabulary operation"}}},"/concept-classes":{"get":{"summary":"Get Concept Classes","description":"Retrieve all OMOP concept classes that categorize medical concepts - Clinical Finding, Ingredient, Procedure, and the complete OHDSI classification set.","operationId":"getConceptClasses","tags":["Domains"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"vocabulary_ids","in":"query","required":false,"description":"Filter concept classes to those used by specific vocabularies. Comma-separated list. Example: SNOMED,RxNorm,ICD10CM","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"include_stats","in":"query","required":false,"description":"Include concept counts and vocabulary coverage for each concept class.","schema":{"type":"boolean","default":false},"example":true},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version to query Example: 2025.1","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_classes":{"type":"array","items":{"type":"object","properties":{"concept_class_id":{"type":"string"},"concept_class_name":{"type":"string"},"concept_class_concept_id":{"type":"integer"},"concept_count":{"type":"integer"},"vocabulary_coverage":{"type":"array","items":{"type":"string"}}},"additionalProperties":true}}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"vocab_release":{"type":"string"},"timestamp":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"concept_classes":[{"concept_class_id":"Clinical Finding","concept_class_name":"Clinical Finding","concept_class_concept_id":441840,"concept_count":425891,"vocabulary_coverage":["SNOMED","Read"]},{"concept_class_id":"Ingredient","concept_class_name":"Ingredient","concept_class_concept_id":441828,"concept_count":45678,"vocabulary_coverage":["RxNorm","SNOMED"]},{"concept_class_id":"Procedure","concept_class_name":"Procedure","concept_class_concept_id":441838,"concept_count":198765,"vocabulary_coverage":["SNOMED","HCPCS"]}]},"meta":{"request_id":"req_abc123","vocab_release":"2025.1","timestamp":"2025-01-05T10:00:00Z"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"domains/get-concept-classes.mdx"}},"/concepts":{"get":{"summary":"Search medical concepts","operationId":"getConcepts","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"query","in":"query","schema":{"type":"string"},"description":"Search query"},{"name":"vocabulary","in":"query","schema":{"type":"string","enum":["SNOMED","ICD10CM","LOINC","RXNORM"]},"description":"Filter by vocabulary"}],"deprecated":true,"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-disposition":{"status":"deprecated","reason":"Compatibility alias retained for existing clients","successor":"/v1/search/concepts"}}},"/concepts/{conceptId}":{"get":{"summary":"Get Concept","description":"Retrieve comprehensive information about a medical concept using its unique concept ID. This endpoint provides full concept details including synonyms, relationships, and classification information.","operationId":"getConceptsByConceptId","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique concept identifier (e.g., 320128 for \"Essential hypertension\")","schema":{"type":"integer"},"example":320128},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release to use (e.g., \"2025.2\"). Uses latest if not specified.","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"include_relationships","in":"query","required":false,"description":"Include related concepts (parents, children, mappings)","schema":{"type":"boolean","default":false}},{"name":"include_synonyms","in":"query","required":false,"description":"Include all synonyms and alternative names","schema":{"type":"boolean","default":false}},{"name":"include_hierarchy","in":"query","required":false,"description":"Include ancestor and descendant concepts in hierarchy","schema":{"type":"boolean","default":false}},{"name":"include_invalid","in":"query","required":false,"description":"Include concepts with invalid_reason set (deprecated/updated concepts). Set to false to only return valid concepts.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true},"is_valid":{"type":"boolean"},"is_standard":{"type":"boolean"},"is_classification":{"type":"boolean"},"synonyms":{"type":"array","items":{"type":"string"}},"relationships":{"type":"object","properties":{"parents":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"relationship_id":{"type":"string"}},"additionalProperties":true}},"children":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"relationship_id":{"type":"string"}},"additionalProperties":true}}},"additionalProperties":true}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"concept_id":320128,"concept_name":"Essential hypertension","concept_code":"59621000","vocabulary_id":"SNOMED","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","valid_start_date":"1970-01-01","valid_end_date":"2099-12-31","invalid_reason":null,"is_valid":true,"is_standard":true,"is_classification":false,"synonyms":["Primary hypertension","Idiopathic hypertension","High blood pressure"],"relationships":{"parents":[{"concept_id":316866,"concept_name":"Hypertensive disorder","relationship_id":"Is a"}],"children":[{"concept_id":4124681,"concept_name":"Accelerated hypertension","relationship_id":"Subsumes"}]}},"meta":{"request_id":"req_concept_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.2"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"concepts/get-concept.mdx"}},"/concepts/{conceptId}/ancestors":{"get":{"summary":"Get Concept Ancestors","description":"Retrieve all ancestor OMOP concepts for a given concept - hierarchical context, classification paths, and parent terms for concept set expansion.","operationId":"getConceptsByConceptIdAncestors","tags":["Hierarchy"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique identifier of the concept to retrieve ancestors for Example: 201826 (Type 2 diabetes mellitus)","schema":{"type":"integer"},"example":201826},{"name":"vocabulary_ids","in":"query","required":false,"description":"Filter ancestors to specific vocabularies (comma-separated) Example: SNOMED,ICD10CM","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"domain_ids","in":"query","required":false,"description":"Filter ancestors to specific domains (comma-separated) Example: Condition,Observation","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"max_levels","in":"query","required":false,"description":"Maximum number of hierarchy levels to traverse Range: 1-20","schema":{"type":"integer","default":10},"example":5},{"name":"include_distance","in":"query","required":false,"description":"Include hierarchy_level field for each ancestor (distance from source concept)","schema":{"type":"boolean","default":false},"example":true},{"name":"include_paths","in":"query","required":false,"description":"Include path_length field for each ancestor","schema":{"type":"boolean","default":false},"example":true},{"name":"include_invalid","in":"query","required":false,"description":"Include deprecated/invalid concepts in ancestry (by default they are excluded)","schema":{"type":"boolean","default":false}},{"name":"page","in":"query","required":false,"description":"Page number for pagination (1-based)","schema":{"type":"integer","default":1}},{"name":"max_results","in":"query","required":false,"description":"Maximum size of the ancestor set to retrieve before pagination is applied. Range: 1-5000 Defaults to the maximum, so paging through the response returns every ancestor that matches this request - those within max_levels and any vocabulary_ids / domain_ids filters you supplied. (relationship_types is not applied - see above.) It is not necessarily the concept's entire ancestry: max_levels defaults to 10, so more distant ancestors are excluded, and truncated does not flag that (it reports the row cap only). Pass max_levels=20 if you need the full ancestry. Results are ordered by ascending min_levels_of_separation. When max_results truncates the set, the nearest ancestors - direct parents before grandparents and roots - are preserved. Concepts at the same separation have no semantic precedence over one another.","schema":{"type":"integer","default":5000}},{"name":"page_size","in":"query","required":false,"description":"Number of ancestor concepts to return per page. Values above 200 are clamped to 200.","schema":{"type":"integer","default":100}},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version to query Example: 2025.1","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"vocabulary_id":{"type":"string"},"ancestors":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"level":{"type":"integer"},"min_levels_of_separation":{"type":"integer"},"max_levels_of_separation":{"type":"integer"},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"},"hierarchy_level":{"type":"integer"},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"}},"additionalProperties":true}},"hierarchy_summary":{"type":"object","properties":{"total_ancestors":{"type":"integer"},"max_hierarchy_depth":{"type":"integer"},"unique_vocabularies":{"type":"array","items":{"type":"string"}},"relationship_types_used":{"type":"array","items":{"type":"string"}},"truncated":{"type":"boolean"},"result_limit":{"type":"integer"}},"additionalProperties":true}},"additionalProperties":true},"meta":{"type":"object","properties":{"pagination":{"type":"object","properties":{"page":{"type":"integer"},"page_size":{"type":"integer"},"total_items":{"type":"integer"},"total_pages":{"type":"integer"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"}},"additionalProperties":true},"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"concept_id":201826,"concept_name":"Type 2 diabetes mellitus","vocabulary_id":"SNOMED","ancestors":[{"concept_id":73211009,"concept_name":"Diabetes mellitus","concept_code":"73211009","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","level":1,"min_levels_of_separation":1,"max_levels_of_separation":1,"relationship_id":"Is a","relationship_name":"Is a","hierarchy_level":1,"valid_start_date":"1970-01-01","valid_end_date":"2099-12-31","invalid_reason":null},{"concept_id":362969004,"concept_name":"Disorder of endocrine system","concept_code":"362969004","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","level":2,"min_levels_of_separation":2,"max_levels_of_separation":2,"relationship_id":"Is a","relationship_name":"Is a","hierarchy_level":2,"valid_start_date":"2002-01-31","valid_end_date":"2099-12-31","invalid_reason":null},{"concept_id":64572001,"concept_name":"Disease","concept_code":"64572001","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","level":3,"min_levels_of_separation":3,"max_levels_of_separation":3,"relationship_id":"Is a","relationship_name":"Is a","hierarchy_level":3,"valid_start_date":"1970-01-01","valid_end_date":"2099-12-31","invalid_reason":null}],"hierarchy_summary":{"total_ancestors":3,"max_hierarchy_depth":3,"unique_vocabularies":["SNOMED"],"relationship_types_used":["Is a"],"truncated":false,"result_limit":5000}},"meta":{"pagination":{"page":1,"page_size":100,"total_items":3,"total_pages":1,"has_next":false,"has_previous":false},"request_id":"req_ancestors_201826_20250104_103100","timestamp":"2025-01-04T10:31:00Z","vocab_release":"2025.1"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"hierarchy/get-concept-ancestors.mdx"}},"/concepts/{conceptId}/descendants":{"get":{"summary":"Get Concept Descendants","description":"Retrieve all descendant OMOP concepts for a given concept - hierarchical children and specialized terms for phenotype and cohort definitions.","operationId":"getConceptsByConceptIdDescendants","tags":["Hierarchy"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique identifier of the concept to retrieve descendants for Example: 201820 (Diabetes mellitus)","schema":{"type":"integer"},"example":201820},{"name":"vocabulary_ids","in":"query","required":false,"description":"Filter descendants to specific vocabularies (comma-separated) Example: SNOMED,ICD10CM","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"domain_ids","in":"query","required":false,"description":"Filter descendants to specific domains (comma-separated) Example: Condition,Drug","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"max_levels","in":"query","required":false,"description":"Maximum number of hierarchy levels to traverse downward Range: 1-20","schema":{"type":"integer","default":10},"example":3},{"name":"include_distance","in":"query","required":false,"description":"Include hierarchy_level field for each descendant (distance from source concept)","schema":{"type":"boolean","default":false},"example":true},{"name":"include_paths","in":"query","required":false,"description":"Include path_length field for each descendant","schema":{"type":"boolean","default":false}},{"name":"include_invalid","in":"query","required":false,"description":"Include deprecated/invalid concepts in descendants (by default they are excluded)","schema":{"type":"boolean","default":false}},{"name":"max_results","in":"query","required":false,"description":"Maximum size of the descendant set to retrieve before pagination is applied. Range: 1-5000 Defaults to the maximum, so paging through the response returns every descendant that matches this request - that is, those within max_levels and any domain_ids / vocabulary_ids filters you supplied. (relationship_types is not applied - see above.) It is not necessarily the concept's entire descendant closure: max_levels defaults to 10, so deeper descendants are excluded, and truncated does not flag that (it reports the row cap only). For a full closure, pass max_levels=20 as well. Lower max_results only if you deliberately want a partial set - note that total_items then reflects the truncated set, not the true descendant count. Results are ordered by ascending min_levels_of_separation. When max_results truncates the set, the nearest descendants - direct children before deeper specializations - are preserved. Concepts at the same separation have no semantic precedence over one another.","schema":{"type":"integer","default":5000}},{"name":"page","in":"query","required":false,"description":"Page number for pagination (1-based)","schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","required":false,"description":"Number of descendant concepts to return per page. Values above 200 are clamped to 200.","schema":{"type":"integer","default":100}},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version to query Example: 2025.1","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"vocabulary_id":{"type":"string"},"descendants":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"level":{"type":"integer"},"min_levels_of_separation":{"type":"integer"},"max_levels_of_separation":{"type":"integer"},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"},"hierarchy_level":{"type":"integer"},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"}},"additionalProperties":true}},"hierarchy_summary":{"type":"object","properties":{"total_descendants":{"type":"integer"},"truncated":{"type":"boolean"},"result_limit":{"type":"integer"},"max_hierarchy_depth":{"type":"integer"},"unique_vocabularies":{"type":"array","items":{"type":"string"}},"relationship_types_used":{"type":"array","items":{"type":"string"}}},"additionalProperties":true}},"additionalProperties":true},"meta":{"type":"object","properties":{"pagination":{"type":"object","properties":{"page":{"type":"integer"},"page_size":{"type":"integer"},"total_items":{"type":"integer"},"total_pages":{"type":"integer"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"}},"additionalProperties":true},"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"concept_id":201820,"concept_name":"Diabetes mellitus","vocabulary_id":"SNOMED","descendants":[{"concept_id":201826,"concept_name":"Type 2 diabetes mellitus","concept_code":"44054006","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":1,"min_levels_of_separation":1,"max_levels_of_separation":1,"relationship_id":"Subsumes","relationship_name":"Subsumes","hierarchy_level":1,"valid_start_date":"2002-01-31","valid_end_date":"2099-12-31","invalid_reason":null},{"concept_id":201254,"concept_name":"Type 1 diabetes mellitus","concept_code":"46635009","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":1,"min_levels_of_separation":1,"max_levels_of_separation":1,"relationship_id":"Subsumes","relationship_name":"Subsumes","hierarchy_level":1,"valid_start_date":"2002-01-31","valid_end_date":"2099-12-31","invalid_reason":null},{"concept_id":4130162,"concept_name":"Insulin treated type 2 diabetes mellitus","concept_code":"237599002","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":2,"min_levels_of_separation":2,"max_levels_of_separation":2,"relationship_id":"Subsumes","relationship_name":"Subsumes","hierarchy_level":2,"valid_start_date":"2002-01-31","valid_end_date":"2099-12-31","invalid_reason":null}],"hierarchy_summary":{"total_descendants":847,"truncated":false,"result_limit":5000,"max_hierarchy_depth":6,"unique_vocabularies":["SNOMED"],"relationship_types_used":["Subsumes"]}},"meta":{"pagination":{"page":1,"page_size":100,"total_items":847,"total_pages":9,"has_next":true,"has_previous":false},"request_id":"req_descendants_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.2"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"hierarchy/get-concept-descendants.mdx"}},"/concepts/{conceptId}/hierarchy":{"get":{"summary":"Get Concept Hierarchy","description":"Retrieve the complete OMOP hierarchy for a concept - ancestors and descendants in one unified view for phenotype development and concept sets.","operationId":"getConceptsByConceptIdHierarchy","tags":["Hierarchy"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique identifier of the concept to retrieve hierarchy for Example: 201820 (Diabetes mellitus)","schema":{"type":"integer"},"example":201820},{"name":"format","in":"query","required":false,"description":"Response format for hierarchy data Options: flat, graph - flat: Returns ancestors and descendants as separate arrays (default) - graph: Returns nodes and edges for visualization (similar to OHDSI Athena)","schema":{"type":"string","pattern":"^[^\\u0000]*$","default":"flat"}},{"name":"vocabulary_ids","in":"query","required":false,"description":"Filter hierarchy to specific vocabularies (comma-separated) Example: SNOMED,ICD10CM","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"domain_ids","in":"query","required":false,"description":"Filter hierarchy to specific domains (comma-separated) Example: Condition,Drug","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"max_levels","in":"query","required":false,"description":"Maximum number of hierarchy levels to traverse in both directions Range: 1-20","schema":{"type":"integer","default":10},"example":3},{"name":"max_results","in":"query","required":false,"description":"Maximum number of results to return per direction (ancestors/descendants) for performance optimization Range: 1-5000 Recommended: Use 100-500 for interactive queries, up to 1000 for bulk analysis","schema":{"type":"integer","default":500}},{"name":"include_invalid","in":"query","required":false,"description":"Include deprecated/invalid concepts in hierarchy (by default they are excluded)","schema":{"type":"boolean","default":false}},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version to query Example: 2025.1","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_id":{"type":"integer"},"ancestors":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"level":{"type":"integer"},"min_levels_of_separation":{"type":"integer"},"max_levels_of_separation":{"type":"integer"},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"}},"additionalProperties":true}},"descendants":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"level":{"type":"integer"},"min_levels_of_separation":{"type":"integer"},"max_levels_of_separation":{"type":"integer"},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"}},"additionalProperties":true}},"level":{"type":"integer"},"max_level":{"type":"integer"},"total_ancestors":{"type":"integer"},"total_descendants":{"type":"integer"}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"concept_id":201820,"ancestors":[{"concept_id":31821,"concept_name":"Disorder of endocrine system","concept_code":"362969004","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":1,"min_levels_of_separation":1,"max_levels_of_separation":1,"relationship_id":"Is a","relationship_name":"Is a"},{"concept_id":4274025,"concept_name":"Disease","concept_code":"64572001","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":2,"min_levels_of_separation":2,"max_levels_of_separation":2,"relationship_id":"Is a","relationship_name":"Is a"}],"descendants":[{"concept_id":201826,"concept_name":"Type 2 diabetes mellitus","concept_code":"44054006","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":1,"min_levels_of_separation":1,"max_levels_of_separation":1,"relationship_id":"Subsumes","relationship_name":"Subsumes"},{"concept_id":201254,"concept_name":"Type 1 diabetes mellitus","concept_code":"46635009","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED Clinical Terms","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":1,"min_levels_of_separation":1,"max_levels_of_separation":1,"relationship_id":"Subsumes","relationship_name":"Subsumes"}],"level":3,"max_level":5,"total_ancestors":2,"total_descendants":2},"meta":{"request_id":"req_hierarchy_123","timestamp":"2024-12-22T10:30:00Z","vocab_release":"2025.2"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"hierarchy/get-concept-hierarchy.mdx"}},"/concepts/{conceptId}/level":{"get":{"summary":"Get Concept Level","description":"Get the hierarchical level and depth of an OMOP concept within its vocabulary tree for quick classification and hierarchy-aware filtering.","operationId":"getConceptsByConceptIdLevel","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique OMOP concept ID to get level information for","schema":{"type":"integer"},"example":201826},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version (e.g., \"2025.1\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_id":{"type":"integer"},"level":{"type":"integer"},"depth_from_root":{"type":"integer"},"breadth_at_level":{"nullable":true,"type":"integer"},"total_descendants":{"type":"integer"},"total_ancestors":{"type":"integer"}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true,"required":["success","data","meta"]},"example":{"success":true,"data":{"concept_id":201826,"level":0,"depth_from_root":4,"breadth_at_level":null,"total_descendants":15,"total_ancestors":3},"meta":{"request_id":"req_concept_level_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.1"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"concepts/get-concept-level.mdx"}},"/concepts/{conceptId}/mappings":{"get":{"summary":"Get Concept Mappings","description":"Retrieve mappings from a concept to equivalent or related concepts in other vocabulary systems. Each row carries the target's target_domain_id and target_standard_concept, so a single call is enough both to route the mapping to the right CDM table and to verify that a Maps to target is standard. Neither previously required a second request per target; before 2026-09-09 the response omitted both fields and each one did.","operationId":"getConceptsByConceptIdMappings","tags":["Mappings"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The OMOP concept ID to get mappings for","schema":{"type":"integer"},"example":35207668},{"name":"target_vocabulary","in":"query","required":false,"description":"Filter mappings to a specific target vocabulary (e.g., \"ICD10CM\", \"SNOMED\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"relationship_ids","in":"query","required":false,"description":"Comma-separated relationship types to return. Defaults to Maps to. Use Maps to,Maps to value to include the Value-as-Concept decomposition of composite concepts. Like include_invalid, this parameter was accepted but not applied before 2026-08-11.","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"page","in":"query","required":false,"description":"Page number, 1-based","schema":{"type":"integer","default":1},"example":1},{"name":"page_size","in":"query","required":false,"description":"Mappings per page. Values above 200 are clamped to 200 without an error, so requesting more returns a smaller page than asked for.","schema":{"type":"integer","default":100},"example":100},{"name":"include_invalid","in":"query","required":false,"description":"Include mappings whose relationship or target concept is deprecated. Defaults to true - pass false to return only currently-valid mappings. Note that POST /v1/concepts/map defaults this to false. The two differ deliberately: this endpoint lists what exists for one concept, where hiding deprecated mappings would misrepresent the record, while map resolves sources for downstream use. Pass the parameter explicitly on both if you need them to agree. The source concept itself is never filtered, so a deprecated concept still returns what it maps to.","schema":{"type":"boolean","default":true}},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version to use (e.g., \"2025.1\", \"2024.2\"). When not specified, uses the default/latest vocabulary version.","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"mappings":{"type":"array","items":{"type":"object","properties":{"source_concept_id":{"type":"integer"},"source_concept_name":{"type":"string"},"source_concept_code":{"type":"string"},"source_vocabulary_id":{"type":"string"},"target_concept_id":{"type":"integer"},"target_concept_name":{"type":"string"},"target_concept_code":{"type":"string"},"target_vocabulary_id":{"type":"string"},"target_domain_id":{"type":"string"},"target_standard_concept":{"type":"string","nullable":true},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"},"mapping_type":{"type":"string"}},"additionalProperties":true}}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"page_size":{"type":"integer"},"total_items":{"type":"integer"},"total_pages":{"type":"integer"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"}},"additionalProperties":true}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"mappings":[{"source_concept_id":35207668,"source_concept_name":"Essential (primary) hypertension","source_concept_code":"I10","source_vocabulary_id":"ICD10CM","target_concept_id":320128,"target_concept_name":"Essential hypertension","target_concept_code":"59621000","target_vocabulary_id":"SNOMED","target_domain_id":"Condition","target_standard_concept":"S","relationship_id":"Maps to","relationship_name":"Non-standard to Standard map (OMOP)","valid_start_date":"1969-12-31T23:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null,"mapping_type":"direct"}]},"meta":{"request_id":"req_abc123","timestamp":"2025-01-05T12:00:00.000Z","vocab_release":"2025.2","pagination":{"page":1,"page_size":100,"total_items":1,"total_pages":1,"has_next":false,"has_previous":false}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"mappings/get-concept-mappings.mdx"}},"/concepts/{conceptId}/path/{targetId}":{"get":{"summary":"Get Concept Path","description":"Find the hierarchical path between two OMOP concepts - the concepts that connect them, how far apart they are, and which way the hierarchy runs.","operationId":"getConceptsByConceptIdPathByTargetId","tags":["Hierarchy"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The source concept - the concept the path starts from Example: 201820 (Diabetes mellitus)","schema":{"type":"integer"},"example":201820},{"name":"targetId","in":"path","required":true,"description":"The target concept - the concept the path ends at Example: 441840 (Clinical finding)","schema":{"type":"integer"},"example":4274025},{"name":"max_depth","in":"query","required":false,"description":"Reject a path longer than this many levels. No default: when omitted, the whole hierarchy is searched. If the two concepts are connected but farther apart than max_depth, the response is path_exists: false with max_depth_exceeded: true, which keeps that case distinguishable from two concepts that are simply unrelated.","schema":{"type":"integer","minimum":1,"maximum":50}},{"name":"shortest_path_only","in":"query","required":false,"description":"By default the response contains every concept lying on any route between the endpoints. Set this to true to keep only the concepts on a shortest route - those whose levels_from_source + levels_to_target equals path_length. path_length itself is unaffected: it is always the shortest separation.","schema":{"type":"boolean","default":false},"example":true},{"name":"include_intermediate","in":"query","required":false,"description":"Set to false to return only the two endpoint concepts in path, dropping everything between them. path_length is unaffected.","schema":{"type":"boolean","default":true}},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version to query Example: 2025.1","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"source_concept_id":{"type":"integer"},"target_concept_id":{"type":"integer"},"source_concept":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"}},"additionalProperties":true},"target_concept":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"}},"additionalProperties":true},"path_exists":{"type":"boolean"},"direction":{"type":"string","nullable":true},"path_length":{"type":"integer","nullable":true},"path":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"level":{"type":"integer"},"min_levels_of_separation":{"type":"integer"},"max_levels_of_separation":{"type":"integer"},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"},"levels_from_source":{"type":"integer"},"levels_to_target":{"type":"integer"}},"additionalProperties":true}},"max_depth_exceeded":{"type":"boolean"},"truncated":{"type":"boolean"}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"source_concept_id":201820,"target_concept_id":4274025,"source_concept":{"concept_id":201820,"concept_name":"Diabetes mellitus","concept_code":"73211009","vocabulary_id":"SNOMED","vocabulary_name":"Systematic Nomenclature of Medicine - Clinical Terms (IHTSDO)","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","valid_start_date":"2002-01-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null},"target_concept":{"concept_id":4274025,"concept_name":"Disease","concept_code":"64572001","vocabulary_id":"SNOMED","vocabulary_name":"Systematic Nomenclature of Medicine - Clinical Terms (IHTSDO)","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","valid_start_date":"2002-01-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null},"path_exists":true,"direction":"ancestor","path_length":3,"path":[{"concept_id":201820,"concept_name":"Diabetes mellitus","concept_code":"73211009","vocabulary_id":"SNOMED","vocabulary_name":"Systematic Nomenclature of Medicine - Clinical Terms (IHTSDO)","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":0,"min_levels_of_separation":0,"max_levels_of_separation":0,"relationship_id":"Is a","relationship_name":"Is a","valid_start_date":"2002-01-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null,"levels_from_source":0,"levels_to_target":3},{"concept_id":31821,"concept_name":"Disorder of endocrine system","concept_code":"362969004","vocabulary_id":"SNOMED","vocabulary_name":"Systematic Nomenclature of Medicine - Clinical Terms (IHTSDO)","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":1,"min_levels_of_separation":1,"max_levels_of_separation":1,"relationship_id":"Is a","relationship_name":"Is a","valid_start_date":"2002-01-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null,"levels_from_source":1,"levels_to_target":2},{"concept_id":4180628,"concept_name":"Disorder of body system","concept_code":"362965005","vocabulary_id":"SNOMED","vocabulary_name":"Systematic Nomenclature of Medicine - Clinical Terms (IHTSDO)","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":2,"min_levels_of_separation":2,"max_levels_of_separation":2,"relationship_id":"Is a","relationship_name":"Is a","valid_start_date":"2002-01-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null,"levels_from_source":2,"levels_to_target":1},{"concept_id":4274025,"concept_name":"Disease","concept_code":"64572001","vocabulary_id":"SNOMED","vocabulary_name":"Systematic Nomenclature of Medicine - Clinical Terms (IHTSDO)","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","level":3,"min_levels_of_separation":3,"max_levels_of_separation":3,"relationship_id":"Is a","relationship_name":"Is a","valid_start_date":"2002-01-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null,"levels_from_source":3,"levels_to_target":0}],"max_depth_exceeded":false,"truncated":false}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"hierarchy/get-concept-path.mdx"}},"/concepts/{conceptId}/related":{"get":{"summary":"Get Related Concepts","description":"Find OMOP concepts related through relationship analysis - ingredients, routes, brand names, and hierarchical links - for concept set expansion.","operationId":"getConceptsByConceptIdRelated","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique OMOP concept ID to find related concepts for","schema":{"type":"integer"},"example":201826},{"name":"page_size","in":"query","required":false,"description":"Maximum number of related concepts to return (1-100)","schema":{"type":"integer","default":20,"maximum":100},"example":20},{"name":"min_score","in":"query","required":false,"description":"Minimum relationship score (0.0-1.0) to include in results","schema":{"type":"number","default":0.1},"example":0.4},{"name":"relationship_types","in":"query","required":false,"description":"Comma-separated list of relationship types to filter by (e.g., \"Is a,Maps to\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version (e.g., \"2025.1\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"},"relationship_score":{"type":"number"},"relationship_distance":{"type":"integer"}},"additionalProperties":true}},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true,"required":["success","data","meta"]},"example":{"success":true,"data":[{"concept_id":73211009,"concept_name":"Diabetes mellitus","concept_code":"73211009","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED CT","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","relationship_id":"Is a","relationship_name":"Is a","relationship_score":0.95,"relationship_distance":1},{"concept_id":443735,"concept_name":"Type 2 diabetes mellitus without complications","concept_code":"443735","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED CT","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","relationship_id":"Subsumes","relationship_name":"Subsumes","relationship_score":0.87,"relationship_distance":1},{"concept_id":435216,"concept_name":"Type 2 diabetes mellitus","concept_code":"E11","vocabulary_id":"ICD10CM","vocabulary_name":"ICD10CM","domain_id":"Condition","concept_class_id":"ICD10 code","standard_concept":null,"relationship_id":"Maps to","relationship_name":"Maps to","relationship_score":0.92,"relationship_distance":1}],"meta":{"request_id":"req_related_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.1"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"concepts/get-related-concepts.mdx"}},"/concepts/{conceptId}/relations/any":{"get":{"summary":"Check Concept Relations","description":"Check whether an OMOP concept has any relationships without loading the full relationship payload - a lightweight existence check for ETL validation.","operationId":"getConceptsByConceptIdRelationsAny","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique OMOP concept ID to check for relationships","schema":{"type":"integer"},"example":201826},{"name":"relationship_types","in":"query","required":false,"description":"Comma-separated list of relationship types to check (e.g., \"Maps to\", \"Is a\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"vocabulary_ids","in":"query","required":false,"description":"Comma-separated list of vocabulary IDs to limit relationship check","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"include_reverse","in":"query","required":false,"description":"Include reverse relationships (concepts that relate to this concept)","schema":{"type":"boolean","default":true}},{"name":"include_invalid","in":"query","required":false,"description":"Include relationships to invalid/deprecated concepts","schema":{"type":"boolean","default":true}},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version (e.g., \"2024.1\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_id":{"type":"integer"},"has_relations":{"type":"boolean"},"relation_summary":{"type":"object","properties":{"total_count":{"type":"integer"},"outbound_count":{"type":"integer"},"inbound_count":{"type":"integer"},"relationship_types":{"type":"array","items":{"type":"string"}},"connected_vocabularies":{"type":"array","items":{"type":"string"}},"has_standard_mappings":{"type":"boolean"}},"additionalProperties":true},"checks_performed":{"type":"object","properties":{"included_relationship_types":{"type":"array","items":{"type":"string"}},"included_vocabularies":{"type":"array","items":{"type":"string"}},"included_reverse_relations":{"type":"boolean"},"included_invalid_relations":{"type":"boolean"}},"additionalProperties":true}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true,"required":["success","data","meta"]},"example":{"success":true,"data":{"concept_id":201826,"has_relations":true,"relation_summary":{"total_count":15,"outbound_count":8,"inbound_count":7,"relationship_types":["Maps to","Is a","Has finding site","May be a"],"connected_vocabularies":["SNOMED","ICD10CM","ICD9CM"],"has_standard_mappings":true},"checks_performed":{"included_relationship_types":["all"],"included_vocabularies":["all"],"included_reverse_relations":true,"included_invalid_relations":false}},"meta":{"request_id":"req_check_relations_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.2"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"concepts/check-concept-relations.mdx"}},"/concepts/{conceptId}/relationships":{"get":{"summary":"List Relationships for a Concept","description":"Retrieve all relationships for a specific OMOP concept - Maps to, Is a, ingredient of, and vocabulary-specific links for crosswalk analysis.","operationId":"getConceptsByConceptIdRelationships","tags":["Relationships"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique identifier of the concept to retrieve relationships for Example: 201826 (Type 2 diabetes mellitus)","schema":{"type":"integer"},"example":201826},{"name":"relationship_ids","in":"query","required":false,"description":"Comma-separated list of relationship IDs to filter by Example: Is a,Maps to,Has finding site","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"vocabulary_ids","in":"query","required":false,"description":"Filter by the vocabulary of concept_2, the target/related concept Example: SNOMED,ICD10CM,RxNorm","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"domain_ids","in":"query","required":false,"description":"Filter by the domain of concept_2, the target/related concept Example: Condition,Drug,Procedure","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"standard_only","in":"query","required":false,"description":"Only return relationships to standard concepts","schema":{"type":"boolean","default":false}},{"name":"include_invalid","in":"query","required":false,"description":"Include relationships to deprecated/invalid concepts","schema":{"type":"boolean","default":false}},{"name":"include_reverse","in":"query","required":false,"description":"Include reverse relationships (where this concept is concept_id_2)","schema":{"type":"boolean","default":false}},{"name":"page","in":"query","required":false,"description":"Page number for pagination (1-based)","schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","required":false,"description":"Number of relationships to return per page. Values above 200 are clamped to 200.","schema":{"type":"integer","default":100}},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version Example: 2025.1","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"relationships":{"type":"array","items":{"type":"object","properties":{"concept_id_1":{"type":"integer"},"concept_id_2":{"type":"integer"},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"},"reverse_relationship_id":{"type":"string"},"concept_1":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true}},"additionalProperties":true},"concept_2":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true}},"additionalProperties":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true}},"additionalProperties":true}}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"},"version":{"type":"string"},"duration":{"type":"integer"},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"page_size":{"type":"integer"},"total_items":{"type":"integer"},"total_pages":{"type":"integer"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"}},"additionalProperties":true}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"relationships":[{"concept_id_1":201826,"concept_id_2":73211009,"relationship_id":"Is a","relationship_name":"Is a","reverse_relationship_id":"Subsumes","concept_1":{"concept_id":201826,"concept_name":"Type 2 diabetes mellitus","concept_code":"44054006","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","valid_start_date":"2002-01-31","valid_end_date":"2099-12-31","invalid_reason":null},"concept_2":{"concept_id":73211009,"concept_name":"Diabetes mellitus","concept_code":"73211009","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","valid_start_date":"2002-01-31","valid_end_date":"2099-12-31","invalid_reason":null},"valid_start_date":"2002-01-31","valid_end_date":"2099-12-31","invalid_reason":null}]},"meta":{"request_id":"req_abc123","timestamp":"2025-01-04T10:30:00Z","vocab_release":"2025.1","version":"2025.1","duration":45,"pagination":{"page":1,"page_size":100,"total_items":47,"total_pages":1,"has_next":false,"has_previous":false}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"relationships/get-concept-relationships.mdx"}},"/concepts/{conceptId}/relationships/{relationshipType}":{"get":{"summary":"Get Concept Relationships by Type","description":"Retrieve one relationship type for a concept using the relationship type as a path parameter.","operationId":"getConceptsByConceptIdRelationshipsByRelationshipType","tags":["Relationships"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"Concept whose outgoing relationships are returned.","schema":{"type":"integer"},"example":201826},{"name":"relationshipType","in":"path","required":true,"description":"Exact OMOP relationship identifier, for example Is a or Maps to.","schema":{"type":"string","pattern":"^[^\\u0000]*$"},"example":"Is a"},{"name":"page","in":"query","required":false,"description":"Page number, using one-based indexing.","schema":{"type":"integer","default":1,"minimum":1}},{"name":"page_size","in":"query","required":false,"description":"Relationships per page. Values above 200 are clamped to 200.","schema":{"type":"integer","default":20,"minimum":1}},{"name":"vocab_release","in":"query","required":false,"description":"Vocabulary release to query. When omitted, the current default release is used.","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"type":"object","properties":{"concept_id_1":{"type":"integer"},"concept_id_2":{"type":"integer"},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"},"reverse_relationship_id":{"type":"string"},"concept_1":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"}},"additionalProperties":true},"concept_2":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"}},"additionalProperties":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true,"type":"string"}},"additionalProperties":true}},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"page_size":{"type":"integer"},"total_items":{"type":"integer"},"total_pages":{"type":"integer"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"}},"additionalProperties":true}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":[{"concept_id_1":201826,"concept_id_2":201820,"relationship_id":"Is a","relationship_name":"Is a","reverse_relationship_id":"Subsumes","concept_1":{"concept_id":201826,"concept_name":"Type 2 diabetes mellitus","concept_code":"44054006","vocabulary_id":"SNOMED","vocabulary_name":"Systematic Nomenclature of Medicine - Clinical Terms (IHTSDO)","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","valid_start_date":"2002-01-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null},"concept_2":{"concept_id":201820,"concept_name":"Diabetes mellitus","concept_code":"73211009","vocabulary_id":"SNOMED","vocabulary_name":"Systematic Nomenclature of Medicine - Clinical Terms (IHTSDO)","domain_id":"Condition","concept_class_id":"Disorder","standard_concept":"S","valid_start_date":"2002-01-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null},"valid_start_date":"2011-07-31T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null}],"meta":{"request_id":"7833dc90-cbc3-4034-9ebe-9219330d8f9e","timestamp":"2026-09-12T22:28:47.416Z","vocab_release":"2026.2","pagination":{"page":1,"page_size":20,"total_items":1,"total_pages":1,"has_next":false,"has_previous":false}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"relationships/get-concept-relationships-by-type.mdx"}},"/concepts/{conceptId}/relationships/options":{"get":{"summary":"Get Relationship Options","description":"Get the list of available relationship types for a specific OMOP concept so you can filter, paginate, or traverse only the links you care about.","operationId":"getConceptsByConceptIdRelationshipsOptions","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"conceptId","in":"path","required":true,"description":"The unique OMOP concept ID to get relationship options for","schema":{"type":"integer"},"example":201826},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version (e.g., \"2025.1\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_id":{"type":"integer"},"available_relationships":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"additionalProperties":true}}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true,"required":["success","data","meta"]},"example":{"success":true,"data":{"concept_id":201826,"available_relationships":[{"id":"Is a","name":"Is a"},{"id":"Maps to","name":"Maps to"},{"id":"Mapped from","name":"Mapped from"},{"id":"Subsumes","name":"Subsumes"}]},"meta":{"request_id":"req_relationship_options_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.1"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"concepts/get-relationship-options.mdx"}},"/concepts/batch":{"post":{"summary":"Batch Concepts","description":"Efficiently retrieve information for multiple concepts at once. This endpoint is optimized for bulk operations and reduces the number of API calls needed.","operationId":"postConceptsBatch","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"concept_ids":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":100,"description":"Array of concept IDs to retrieve (max: 100)"},"include_relationships":{"type":"boolean","default":false,"description":"Include relationships for all concepts"},"include_synonyms":{"type":"boolean","default":false,"description":"Include synonyms for all concepts"},"include_mappings":{"type":"boolean","default":false,"description":"Include cross-vocabulary mappings for all concepts"},"vocabulary_filter":{"type":"array","items":{"type":"string","pattern":"^[^\\u0000]*$"},"description":"Filter results to specific vocabularies"},"standard_only":{"type":"boolean","default":false,"description":"Only return standard concepts"}},"additionalProperties":false,"required":["concept_ids"]},"example":{"concept_ids":[320128,201826,4329847],"include_relationships":true,"include_synonyms":true}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concepts":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true},"synonyms":{"type":"array","items":{"type":"string"}},"relationships":{"type":"object","properties":{"parents":{"type":"array","items":{"type":"object","properties":{"relationship_id":{"type":"string"},"concept_id":{"type":"integer"},"concept_name":{"type":"string"}},"additionalProperties":true}},"children":{"type":"array","items":{}}},"additionalProperties":true}},"additionalProperties":true}},"failed_concepts":{"type":"array","items":{}},"summary":{"type":"object","properties":{"total_requested":{"type":"integer"},"successful_retrievals":{"type":"integer"},"failed_retrievals":{"type":"integer"},"vocabularies_represented":{"type":"array","items":{"type":"string"}},"domains_represented":{"type":"array","items":{"type":"string"}}},"additionalProperties":true}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"},"query_time_ms":{"type":"number"}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"concepts":[{"concept_id":320128,"concept_name":"Essential hypertension","concept_code":"59621000","vocabulary_id":"SNOMED","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","valid_start_date":"1970-01-01","valid_end_date":"2099-12-31","invalid_reason":null,"synonyms":["High blood pressure"],"relationships":{"parents":[{"relationship_id":"Is a","concept_id":4182210,"concept_name":"Hypertensive disorder"}],"children":[]}},{"concept_id":201826,"concept_name":"Type 2 diabetes mellitus","concept_code":"44054006","vocabulary_id":"SNOMED","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","valid_start_date":"1970-01-01","valid_end_date":"2099-12-31","invalid_reason":null,"synonyms":[{"concept_synonym_name":"Type II diabetes mellitus","language_concept_id":4180186,"language_concept_name":"English"},{"concept_synonym_name":"Adult-onset diabetes","language_concept_id":4180186,"language_concept_name":"English"}],"relationships":[{"relationship_id":"Is a","target_concept_id":73211009,"target_concept_name":"Diabetes mellitus","target_vocabulary_id":"SNOMED","relationship_direction":"outbound"}]},{"concept_id":4329847,"concept_name":"Myocardial infarction","concept_code":"22298006","vocabulary_id":"SNOMED","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","valid_start_date":"1970-01-01","valid_end_date":"2099-12-31","invalid_reason":null,"synonyms":[{"concept_synonym_name":"Heart attack","language_concept_id":4180186,"language_concept_name":"English"},{"concept_synonym_name":"MI - Myocardial infarction","language_concept_id":4180186,"language_concept_name":"English"}],"relationships":[{"relationship_id":"Is a","target_concept_id":134057,"target_concept_name":"Acute myocardial infarction","target_vocabulary_id":"SNOMED","relationship_direction":"inbound"}]}],"failed_concepts":[],"summary":{"total_requested":3,"successful_retrievals":3,"failed_retrievals":0,"vocabularies_represented":["SNOMED"],"domains_represented":["Condition"]}},"meta":{"request_id":"req_batch_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.2","query_time_ms":45.2}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"concepts/batch-concepts.mdx"}},"/concepts/by-code":{"get":{"summary":"Missing concept-code path parameters guidance","description":"Returns the canonical /concepts/by-code/{vocabularyId}/{conceptCode} shape to use.","operationId":"getConceptsByCode","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-disposition":{"status":"guidance","reason":"Intentional 400 response for omitted path parameters","successor":"/v1/concepts/by-code/{vocabularyId}/{conceptCode}"}}},"/concepts/by-code/{vocabularyId}/{conceptCode}":{"get":{"summary":"Get Concept by Code","description":"Retrieve concept information using the vocabulary-specific code instead of the universal concept ID. This is useful when working with source data that contains original codes.","operationId":"getConceptsByCodeByVocabularyIdByConceptCode","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"vocabularyId","in":"path","required":true,"description":"The vocabulary identifier (e.g., \"SNOMED\", \"ICD10CM\", \"LOINC\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"},"example":"SNOMED"},{"name":"conceptCode","in":"path","required":true,"description":"The vocabulary-specific code (e.g., \"59621000\" for SNOMED, \"I10\" for ICD10CM)","schema":{"type":"string","pattern":"^[^\\u0000]*$"},"example":"59621000"},{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release to use (e.g., \"2025.2\"). Uses latest if not specified.","schema":{"type":"string","pattern":"^[^\\u0000]*$"}},{"name":"include_synonyms","in":"query","required":false,"description":"Include concept synonyms in the response","schema":{"type":"boolean","default":false}},{"name":"include_relationships","in":"query","required":false,"description":"Include concept relationships and mappings","schema":{"type":"boolean","default":false}},{"name":"include_hierarchy","in":"query","required":false,"description":"Include concept hierarchy information","schema":{"type":"boolean","default":false}},{"name":"include_invalid","in":"query","required":false,"description":"Include concepts with invalid_reason set (deprecated/updated concepts). Set to false to only return valid concepts.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true},"is_valid":{"type":"boolean"},"is_standard":{"type":"boolean"},"is_classification":{"type":"boolean"}},"additionalProperties":true},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true},"example":{"success":true,"data":{"concept_id":320128,"concept_name":"Essential hypertension","concept_code":"59621000","vocabulary_id":"SNOMED","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","valid_start_date":"1970-01-01T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null,"is_valid":true,"is_standard":true,"is_classification":false},"meta":{"request_id":"req_concept_code_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.2"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"concepts/get-concept-by-code.mdx"}},"/concepts/hierarchy/batch":{"post":{"summary":"Batch Hierarchy Queries","description":"Run multiple OMOP concept hierarchy lookups in a single batched request to efficiently retrieve ancestors and descendants for bulk ETL workflows.","operationId":"postConceptsHierarchyBatch","tags":["Concepts"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version (e.g., \"2025.1\")","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"queries":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{"query_id":{"type":"string","pattern":"^[^\\u0000]*$","description":"Unique identifier for this query (used to match results)"},"concept_id":{"type":"integer","description":"The OMOP concept ID to query hierarchy for"},"operation":{"type":"string","pattern":"^[^\\u0000]*$","description":"Type of hierarchy query. Options: ancestors, descendants, hierarchy, level Any other value fails that individual query with Unknown operation: (the surrounding batch still succeeds - check success on each result). Relationship traversal is not available here; use [GET /v1/concepts/{concept_id}/relationships](/api-reference/relationships/get-concept-relationships) or [POST /v1/concepts/relationships/traverse](/api-reference/concepts/traverse-relationships)."},"params":{"type":"object","additionalProperties":true,"description":"Optional parameters for the query Maximum number of hierarchy levels to traverse Accepted for backwards compatibility, but ignored by every operation this endpoint supports. All four operations read OMOP's precomputed concept_ancestor closure, which stores transitive Is a subsumption only and has no relationship column to filter on. Passing Part of - or a nonexistent relationship - returns the same Is a results. Limit results to specific vocabularies Limit results to specific domains Include relationships to invalid/deprecated concepts","properties":{"max_levels":{"type":"integer","default":10,"description":"Maximum number of hierarchy levels to traverse"},"relationship_types":{"type":"array","items":{"type":"object","additionalProperties":true},"description":"Accepted for backwards compatibility, but ignored by every operation this endpoint supports. All four operations read OMOP's precomputed concept_ancestor closure, which stores transitive Is a subsumption only and has no relationship column to filter on. Passing Part of - or a nonexistent relationship - returns the same Is a results."},"vocabulary_ids":{"type":"array","items":{"type":"object","additionalProperties":true},"description":"Limit results to specific vocabularies"},"domain_ids":{"type":"array","items":{"type":"object","additionalProperties":true},"description":"Limit results to specific domains"},"include_invalid":{"type":"boolean","default":false,"description":"Include relationships to invalid/deprecated concepts"}}}},"required":["query_id","concept_id","operation"]},"minItems":1,"maxItems":100,"description":"Array of hierarchy query requests (1-100 queries) Unique identifier for this query (used to match results) The OMOP concept ID to query hierarchy for Type of hierarchy query. Options: ancestors, descendants, hierarchy, level Any other value fails that individual query with Unknown operation: (the surrounding batch still succeeds - check success on each result). Relationship traversal is not available here; use [GET /v1/concepts/{concept_id}/relationships](/api-reference/relationships/get-concept-relationships) or [POST /v1/concepts/relationships/traverse](/api-reference/concepts/traverse-relationships). Optional parameters for the query Maximum number of hierarchy levels to traverse Accepted for backwards compatibility, but ignored by every operation this endpoint supports. All four operations read OMOP's precomputed concept_ancestor closure, which stores transitive Is a subsumption only and has no relationship column to filter on. Passing Part of - or a nonexistent relationship - returns the same Is a results. Limit results to specific vocabularies Limit results to specific domains Include relationships to invalid/deprecated concepts"}},"additionalProperties":false,"required":["queries"]},"example":{"queries":[{"query_id":"q1","concept_id":201826,"operation":"ancestors","params":{"max_levels":5}},{"query_id":"q2","concept_id":4182210,"operation":"descendants","params":{"max_levels":3}},{"query_id":"q3","concept_id":313217,"operation":"hierarchy","params":{"max_levels":4,"relationship_types":["Is a"]}}]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"type":"object","properties":{"query_id":{"type":"string"},"concept_id":{"type":"integer"},"operation":{"type":"string"},"success":{"type":"boolean"},"results":{"type":"array","items":{"type":"object","properties":{"concept_id":{"type":"integer"},"concept_name":{"type":"string"},"concept_code":{"type":"string"},"vocabulary_id":{"type":"string"},"vocabulary_name":{"type":"string"},"domain_id":{"type":"string"},"concept_class_id":{"type":"string"},"standard_concept":{"type":"string","nullable":true},"level":{"type":"integer"},"min_levels_of_separation":{"type":"integer"},"max_levels_of_separation":{"type":"integer"},"relationship_id":{"type":"string"},"relationship_name":{"type":"string"},"valid_start_date":{"type":"string"},"valid_end_date":{"type":"string"},"invalid_reason":{"nullable":true}},"additionalProperties":true}}},"additionalProperties":true}},"meta":{"type":"object","properties":{"request_id":{"type":"string"},"timestamp":{"type":"string"},"vocab_release":{"type":"string"}},"additionalProperties":true}},"additionalProperties":true,"required":["success","data","meta"]},"example":{"success":true,"data":[{"query_id":"q1","concept_id":201826,"operation":"ancestors","success":true,"results":[{"concept_id":201826,"concept_name":"Type 2 diabetes mellitus","concept_code":"44054006","vocabulary_id":"SNOMED","vocabulary_name":"SNOMED CT","domain_id":"Condition","concept_class_id":"Clinical Finding","standard_concept":"S","level":0,"min_levels_of_separation":0,"max_levels_of_separation":0,"relationship_id":"Is a","relationship_name":"Is a","valid_start_date":"1970-01-01T00:00:00.000Z","valid_end_date":"2099-12-31T00:00:00.000Z","invalid_reason":null}]}],"meta":{"request_id":"req_batch_hierarchy_123","timestamp":"2024-12-22T10:00:00Z","vocab_release":"2025.1"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"}},"x-source-route":"src/routes/v1/vocabulary.routes.ts","x-documentation-source":"concepts/batch-hierarchy-queries.mdx"}},"/concepts/map":{"post":{"summary":"Map Concepts","description":"Map medical concepts between OMOP vocabularies to find equivalent or related concepts across SNOMED, ICD-10, LOINC, RxNorm, and other terminologies.","operationId":"postConceptsMap","tags":["Mappings"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"vocab_release","in":"query","required":false,"description":"Specific vocabulary release version to use for mapping (e.g., \"2025.1\", \"2024.2\"). When not specified, uses the default/latest vocabulary version.","schema":{"type":"string","pattern":"^[^\\u0000]*$"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"target_vocabulary":{"type":"string","pattern":"^[^\\u0000]*$","minLength":1,"description":"Target vocabulary identifier to map concepts to Examples: \"ICD10CM\", \"SNOMED\", \"ICD9CM\", \"LOINC\", \"RxNorm\""},"mapping_type":{"type":"string","pattern":"^[^\\u0000]*$","enum":["direct","equivalent","broader","narrower"],"description":"Type of concept mapping to filter results by. When not specified, all mapping types are returned. Options: - \"direct\" - Direct mappings only (Maps to, Mapped from) - \"equivalent\" - Equivalent concepts (Maps to, Source - contains, Has precise ingredient) - \"broader\" - Broader concepts (Is a, Subsumes, Has ingredient) - \"narrower\" - Narrower concepts (Subsumes, Consists of)"},"include_invalid":{"type":"boolean","default":false,"description":"Include mappings whose relationship or target concept is deprecated. Defaults to false - only currently-valid mappings are returned unless you ask for more. This page previously documented the default as true. That was wrong: the endpoint has always excluded deprecated mappings when the field is omitted, and the documentation has been corrected rather than the behaviour, so no existing request changes. The sibling GET /v1/concepts/{id}/mappings defaults include_invalid to true. The two differ deliberately: that endpoint lists what exists for one concept, where hiding deprecated mappings would misrepresent the record, while this one resolves sources for downstream use, where a deprecated mapping is rarely what you want by default. Pass the parameter explicitly on both if you need them to agree."},"source_concepts":{"type":"array","items":{"type":"integer","minimum":1},"minItems":1,"maxItems":100,"description":"Array of source OMOP concept IDs to map (1-100 concepts). Use this OR source_codes, not both. Important: These must be OMOP concept IDs (internal database IDs), NOT vocabulary-specific codes. Use /v1/concepts/by-code/{vocabulary}/{code} to look up concept IDs from codes, or use source_codes parameter instead. Example: [201826, 192671] (OMOP concept IDs for Type 2 diabetes and Myocardial infarction)"}},"additionalProperties":false,"required":["target_vocabulary","source_concepts"]},{"type":"object","properties":{"target_vocabulary":{"type":"string","pattern":"^[^\\u0000]*$","minLength":1,"description":"Target vocabulary identifier to map concepts to Examples: \"ICD10CM\", \"SNOMED\", \"ICD9CM\", \"LOINC\", \"RxNorm\""},"mapping_type":{"type":"string","pattern":"^[^\\u0000]*$","enum":["direct","equivalent","broader","narrower"],"description":"Type of concept mapping to filter results by. When not specified, all mapping types are returned. Options: - \"direct\" - Direct mappings only (Maps to, Mapped from) - \"equivalent\" - Equivalent concepts (Maps to, Source - contains, Has precise ingredient) - \"broader\" - Broader concepts (Is a, Subsumes, Has ingredient) - \"narrower\" - Narrower concepts (Subsumes, Consists of)"},"include_invalid":{"type":"boolean","default":false,"description":"Include mappings whose relationship or target concept is deprecated. Defaults to false - only currently-valid mappings are returned unless you ask for more. This page previously documented the default as true. That was wrong: the endpoint has always excluded deprecated mappings when the field is omitted, and the documentation has been corrected rather than the behaviour, so no existing request changes. The sibling GET /v1/concepts/{id}/mappings defaults include_invalid to true. The two differ deliberately: that endpoint lists what exists for one concept, where hiding deprecated mappings would misrepresent the record, while this one resolves sources for downstream use, where a deprecated mapping is rarely what you want by default. Pass the parameter explicitly on both if you need them to agree."},"source_codes":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{"vocabulary_id":{"type":"string","pattern":"^[^\\u0000]*$","minLength":1,"maxLength":50,"description":"Vocabulary identifier for this source code."},"concept_code":{"type":"string","pattern":"^[^\\u0000]*$","minLength":1,"maxLength":100,"description":"Code within the source vocabulary."}},"required":["vocabulary_id","concept_code"]},"minItems":1,"maxItems":100,"description":"Array of vocabulary/code pairs to map (1-100 concepts). Use this OR source_concepts, not both. This allows mapping directly from source system codes (e.g., SNOMED codes) without first looking up the OMOP concept ID. Example: json [ {\"vocabulary_id\": \"SNOMED\", \"concept_code\": \"44054006\"}, {\"vocabulary_id\": \"SNOMED\", \"concept_code\": \"22298006\"} ] Vocabulary identifier for this source code. Code within the source vocabulary."}},"additionalProperties":false,"require
[...]
